  
* {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  body {
    font-family: "Lato", sans-serif;
    color:black;
  
  }
  
  .option {
    width: 97%;
    height: 25rem;
  border-radius: 25px;
    text-align: center;
  
    background-image: linear-gradient( #f3f8fa 10%, rgb(216, 208, 252)100%);
 padding:0.5rem;
    border-width: 0.08rem;
    box-shadow: 2px 2px 4px rgb(0, 217, 255);
    height:400px;
    margin-left: 0.3rem;

  }
  

  @media(max-width:900px){
      .option{
        margin:1rem ;
        width: 92%;
      }
  }
  .center {
    text-align: center;
    padding: 1rem;
  }
  
  .header {
    padding: 1.5rem;
    height: 20%;
    width: 92%;
    text-align: center;
   color:black;
   text-shadow: 2px 2px 4px#c08dfa;
    font-family: "Century Gothic", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
  
    background-image: linear-gradient( #68dbf8 10%, rgb(183, 172, 235)100%);
    
    margin:1rem;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgb(97, 95, 95);
  }
  

  @media(min-width:900px){
    .header {
        padding: 1.5rem;
        height: 20%;
        width: 93%;
     
      
      }
  }
  .para {
    font-family: "Century Gothic", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    margin-left:1rem;
    margin-right:1rem;
  }
  .sevicegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    margin-left: 20%;
  }
  @media (min-width: 900px) {
    .servicegrid {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }

  .packagebox{
      width: 97%;
      border-radius: 25px;
      border:solid 0.5rem white;
      margin:1rem;
      margin-bottom: 2rem;
      height: 450px;
      background-image: linear-gradient( rgb(201, 241, 248) 10%, rgb(245, 227, 244)100%);
      box-shadow: 4px 4px 4px rgb(162, 108, 233);
      padding-left:2rem;
  }

  @media(max-width:900px){
    .packagebox{
   
        margin-bottom: 5rem;
        height: 350px;
        background-image: linear-gradient( rgb(201, 241, 248) 10%, rgb(245, 227, 244)100%);
        box-shadow: 4px 4px 4px rgb(162, 108, 233);
       width:90%;
       padding-left: 2.5rem;
    }
  
  }


  .title{
    font-size:2rem;
    font-weight:500;
    color: white;
    margin-top: 2rem;
    font-family: "Vibur", cursive;
}
  .packagetitle{
      font-size:1.5rem;
      font-weight:500;
  }

  li{
      font-size: 1.3rem;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 97%;
    text-align: center;
  }
  
  td, th {
    border: 0.2rem dotted rgb(121, 66, 224);
    text-align: center;
    padding: 8px;
    width: 50%;
    font-family: "Century Gothic", sans-serif;
    font-size: 1.3rem;
  }
  
  tr:nth-child(even) {
  
    background-image: linear-gradient(to top, #9b37df 10%, #cd94f3 100%);
  }

  .grid1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row: 1fr;
      padding-left: 30%;
      padding-right: 25%;
  }

  @media(max-width:900px)
  {
    .grid2,.grid3,.grid1{
        display: grid;
        grid-template-columns: 0fr 0fr 0fr;
        grid-row: 0fr;
    } 
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        text-align: center;
      }
  }

  
  input[type="checkbox"]{
    margin-left: 0.7rem;
    box-shadow: 2px 2px 4px #71e5e9;
  }
  